@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

body {
    /* NOTE: As stated in popup/popup.css, this should be changed later
     * probably */
    background-color: white;
    color: black;

    padding: 0;
    margin: 0;

    font-family: "Source Sans 3", sans-serif;
}

/* NOTE: Use media to disable this when on mobile? I'll leave Haresh to deal
 * with all of the responsiveness later I suppose */
.side-nav {
    height: 100%;
    width: 300px;
    position: fixed;

    background-color: #eff4f5;
    padding-top: 50px;

    top: 0;
    left: 0;
}

.side-nav a {
    text-decoration: none;
    display: block;

    margin-bottom: 20px;
    /* margin-left: 50px; */
    margin-left: 25px;
    border-radius: 5px;
    width: 250px;

    background-color: #eff4f5;

    text-align: center;

    font-size: 25px;

    color: black;
    font-weight: bold;

    transition: background 0.2s;
}

.side-nav a:hover {
    background: #dfe4e5;
}

.main {
    width: calc(70vw - 300px);
    margin-left: calc(300px + 5%);

    font-size: 20px;
}

.title-bar {
    margin-top: 0;
    font-size: 20px;
}


.calendar {
    width: 600px;
    font-size: 30px;
    
    background-color: #eff4f5;
    border-radius: 10px;
}

.calendar-content {
    width: 90%;
    margin: auto;

    padding-top: 20px;
    padding-bottom: 20px;
}

/* NOTE: Haresh if this looks sus you should probably fix it. */

.calendar-header {
    margin-bottom: 30px;

    background-color: #dfe4e5;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.calendar-header div {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.calendar-header #calendar-year {
    float: right;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-bottom: 10px;

    background-color: #dfe4e5;
    border-radius: 5px;
}

.calendar-weekdays div {
    display: grid;
    place-items: center;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
}

#calendar-month {
    margin-left: 20px;
    margin-right: 20px;
}

.calendar-days div {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;

    border-radius: 5px;

    transition: background 0.2s;
}

.calendar-days div:hover {
    background-color: #dfe4e5;
}

.time-slice {
    width: 5px;
    height: 50px;

    display: inline-block;
    margin-left: 0;
    margin-right: -5px;
    border: solid 1px #dfe4e5;

    background-color: white;
}

.selected {
    background-color: #cfd4d5;
}

